site_name: latform
repo_url: https://github.com/ken-lauer/latform
repo_name: ken-lauer/latform

nav:
  - Home: index.md
  - Development: development/development_guidelines.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.top
    - navigation.tabs
    - navigation.indexes
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
  - markdown.extensions.extra
  - pymdownx.highlight
  - pymdownx.superfences
  - tables
  - toc:
      permalink: true

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ken-lauer/latform
      name: latform

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - macros
  - mkdocs-jupyter:
      include_source: True
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            docstring_style: "numpy"
            inherited_members: false
            filters:
              - "!^_" # exclude all members starting with _
              - "^__init__$" # but always include __init__ modules and methods
          rendering:
            show_source: true
            show_root_heading: true
